body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

h1 {
  font-size: 2em; /* 32px */
  font-weight:500;
}

h1 {
  line-height: 2;
}

h3 {
  font-size: 1.2em; /* 32px */
}

h3 {
  line-height: 1.2;
}

.figure {
  line-height: 1.5;
}

p {
  font-size: 100%; /* 16px */
}

p {
  line-height: 1.5;
}

.author {
  font-style: italic;
}


nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 100%;

}

body {
 image: url("images/bloc-logo.png");

}

body {
 image: url("images/instagram-pic.jpg");

}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

/* link */
a:visited {
    color: #EEE;
    text-decoration: underline;
    cursor: pointer;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}
